html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  height: 100vh;
  background-color:#87CEFA;
  overflow-x: hidden;
  height:auto!important;
}

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 15px;
}

main {
  padding: 20px;
}

@media only screen and (min-width: 768px), only screen and (orientation: landscape){
  main {
    flex-grow: 1;
    padding: 10px;
  }

  .app{
    padding-top: 0px;
  }
}

/*========================SHARED ELEMENTS===============*/
#login-form, #registration-form, #create-form, #initiate-form, #activity-form, #balance-form, #claim-form{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}

.balance-form, .activity-section{
  text-align: center;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.balance-form{
  width: 50%;
}

.activity-section{
  width: 60%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  font-size:2em;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 10px;
  font-size:2em;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit]{
  align-self: center;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 60%;
  font-size: 1em;
  font-weight: 600;
  border: 5px solid rgba(255, 166, 0, 0.87) ;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.753);
  cursor: pointer;
  }

  
button[type=submit]:hover {
  background-color: #4078a5;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.button-holder{
  text-align: center;
}

label {
  font-size: 2em;
  color: #4078a5;
}

.title{
  font-size: 3em;
  color: rgba(0, 0, 0, 0.753);
  text-align: center
}

section > .direction{
  color:rgba(0, 0, 0, 0.753);
  font-size: 1em;
  margin-left: 25%;
  margin-right: 25%;
  padding: 24px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: white;
}

.direction > p{
  text-align: center;
}

#landingpage, #dashboard{
  display: flex;
  justify-content: center;
}

.modified-redirect{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  width: 40%
}

.redirect{
text-align: center;
padding: 10px;
font-weight: bold;
}

#transaction-section, #activity-section, #balance-section, #claim-section{
  height: 100vh;
}

.info-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
  font-weight: 300;
  border: 5px solid white;
  border-radius: 5px;
  background-color: white;
}

p.attention-stmt{
  padding: 24px;
  font-weight: 700;
}

p.decorate-link{
  font-style: italic;
}

.new-transaction-details p, .balance-details p, .claim-details p{
  color:rgba(0, 0, 0, 0.753);
  font-size: 2em;
  margin-left: 115px;
  margin-right: 115px;
  text-align: center;
}

/*========================LANDING PAGE===============*/
.intro-message {
  color:rgba(0, 0, 0, 0.753);
  font-size: 3em;
  font-weight: 1000;
  text-align: center;
 }
   
/*========================LOGIN===============*/

/*========================REGISTRATION===============*/


/*========================INITIATE FORM===============*/

/*========================INITIATE TRANSACTION===============*/

/*========================ACTIVITY===============*/
.transactions-list{
  list-style: none;
}

div.transaction-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
  font-weight: 300;
  border: 5px solid white;
  border-radius: 5px;
  background-color: white;
  color:rgba(0, 0, 0, 0.753);
  font-size: 2em;
  margin-left: 115px;
  margin-right: 115px;
  text-align: left;
}

/*=======================BALANCE===============*/




